// app global css in SCSS form
.bg-DK {
    background-color:#C41F3B ;
}
.bg-DH{
    background-color:#A330C9 ;
}
.bg-Druid{
    background-color:#FF7C0A ;
}
.bg-Monk{
    background-color:#00FF98 ;
}
.bg-Evoker{
    background-color:#33937F ;
}
.bg-Hunter{
    background-color:#AAD372 ;
}
.bg-Mage{
    background-color:#3FC7EB ;
}
.bg-Paladin{
    background-color:#F48CBA ;
}
.bg-Priest{
    background-color:#FFFFFF ;
}
.bg-Rogue{
    background-color:#FFF468 ;
}
.bg-Shaman{
    background-color:#0070DD ;
}
.bg-Warlock{
    background-color:#8788EE ;
}
.bg-Warrior{
    background-color:#C69B6D ;
}
.chip-box{
    display: flex;
    height:100%;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;   
    align-content: space-between;
    flex: 1;
    padding-top: 5%;

    
}
.skill-chip{
    height:3.5em;
    width: 25%;
}
.dr-flex{
    padding-left: 5%;
    padding-right: 5%;
}
.shared-title{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
