.text-DK{
    color: #c41e3ac2 !important;
}
.text-Druid{
    color: #FF7C0A	 !important;
}
.text-Hunter{
    color: #AAD372 !important;
}
.text-Mage{
    color: 	#3FC7EB !important;
}
.text-Paladin{
    color: #F48CBA !important;
}
.text-Priest{
    color: 	#FFFFFF !important;
}
.text-Rogue{
    color: 	#FFF468 !important;
}
.text-Shaman{
    color: 	#0070DD !important;
}
.text-Warlock{
    color: #8788EE !important;
}
.text-Warrior{
    color: 	#C69B6D !important;
}
.text-Racial{
    color: 	#FFFFFF !important;
}
.bg-DK{
   background-color:#c41e3ac2 !important;
}
.bg-Druid{
    background-color: #FF7C0A	 !important;
}
.bg-Hunter{
    background-color: #AAD372 !important;
}
.bg-Mage{
    background-color: 	#3FC7EB !important;
}
.bg-Paladin{
    background-color: #F48CBA !important;
}
.bg-Priest{
    background-color: 	#FFFFFF !important;
}
.bg-Rogue{
    background-color: 	#FFF468 !important;
}
.bg-Shaman{
    background-color: 	#0070DD !important;
}
.bg-Warlock{
    background-color: #8788EE !important;
}
.bg-Warrior{
    background-color: 	#C69B6D !important;
}
